#login_facebook_icon {
  width: 24px;
  height: 24px;
}

.login_input_email {
  background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
}

.login_input_password {
  background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
}

#signup-button {
  width: 100%;
}

#icon_14X14 {
  width: 14px;
  height: 14px;
}

#icon_18X18 {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

#icon_fill_18X18 {
  fill: #f15c00;
  width: 18px;
  height: 18px;
}

#icon_fill_24X24 {
  fill: #f15c00;
  width: 24px;
  height: 24px;
}

#icon_24X24 {
  width: 24px;
  height: 24px;
}

#find_desc {
  display: inline-block;
  background: transparent;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

span.pseudo-input_field-holder {
  position: relative;
  display: block;
}

input.header_content_middle_input {
  position: absolute;
  color: rgb(200, 200, 200);
  -webkit-text-fill-color: rgb(200, 200, 200);
  width: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20;
  font-weight: 400;
  letter-spacing: 0;
  background-color: rgba(0, 0, 0, 0);
  font-kerning: auto;
  vertical-align: baseline;
  padding: 0;
  border-width: 0;
}

#restaurants_list_results {
  position: relative;
  min-height: 345px;
}

#posts_item_span {
  fill: #dd5114;
  width: 18px;
  height: 18px;
}

#people_in_event_item_span {
  fill: #f15c00;
  width: 18px;
  height: 18px;
}

#review_header_view_span {
  fill: #c41200;
  width: 24px;
  height: 24px;
}

#review_item_footer_buttons_panel_span {
  fill: #666666;
  width: 18px;
  height: 18px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.restaurant-list-item-address-rows {
  span {
    display: block;
  }
}

.margin-left-8 {
  margin-left: 8px;
}

.showcase-photos-z-index {
  z-index: 1000;
}

#position-relative {
  position: relative;
}

#review-header-sort-button:hover {
  cursor: pointer !important;
}

#test-user-avator {
  background-image: url(https://s3-media2.fl.yelpcdn.com/photo/cFR_s8fhR5u8pX2imu9dzw/ls.jpg);
}

.ordered-user-profile {
  margin-top: -145px;
}

.user-profile_avatar-section {
  position: absolute;
}

#ordered-user-container-right-sider-map {
  position: relative;
  zoom: 1;
  z-index: auto;
}

.ordered-user-avator {
  width: 100%;
  height: 100%;
}

#event-want-panel {
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1px;
  margin-bottom: 17px;
}
